<div class="uk-grid" data-uk-grid-margin="">
  <div class="uk-width-medium-1-1 uk-row-first">

    <div class="uk-vertical-align uk-text-center" style="background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjQsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTEzMHB4IiBoZWlnaHQ9IjQ1MHB4IiB2aWV3Qm94PSIwIDAgMTEzMCA0NTAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDExMzAgNDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxyZWN0IGZpbGw9IiNGNUY1RjUiIHdpZHRoPSIxMTMwIiBoZWlnaHQ9IjQ1MCIvPg0KPC9zdmc+DQo=') 50% 0 no-repeat; height: 450px;">
      <div class="uk-vertical-align-middle uk-width-1-2">
        <h1 class="uk-heading-large">Welcome to MadRoutes</h1>
        <p class="uk-text-large">A simple Angular & UIKit test webapp :)</p>
      </div>
    </div>

  </div>
</div>

<div class="uk-grid" data-uk-grid-margin="">
  <div class="uk-width-medium-1-3 uk-row-first">
    <div class="uk-grid">
      <div class="uk-width-1-6">
        <i class="uk-icon-map uk-icon-large uk-text-primary"></i>
      </div>
      <div class="uk-width-5-6">
        <h2 class="uk-h3">Track video location on a map</h2>
        <p>Watch the precise position of the current video directly on a map</p>
      </div>
    </div>
  </div>

  <div class="uk-width-medium-1-3">
    <div class="uk-grid">
      <div class="uk-width-1-6">
        <i class="uk-icon-youtube-play uk-icon-large uk-text-primary"></i>
      </div>
      <div class="uk-width-5-6">
        <h2 class="uk-h3">Bind YouTube videos to your camera GPS data</h2>
        <p>Simply create a new route, add a link to your YouTube video and upload the GPS data file from your camera</p>
      </div>
    </div>
  </div>

  <div class="uk-width-medium-1-3">
    <div class="uk-grid">
      <div class="uk-width-1-6">
        <i class="uk-icon-bar-chart uk-icon-large uk-text-primary"></i>
      </div>
      <div class="uk-width-5-6">
        <h2 class="uk-h3">Advanced stats</h2>
        <p>You will get detailed stats of all available attributes like speed, altitude, heading etc.</p>
      </div>
    </div>
  </div>
</div>